.container {
	display: flex;
	flex-direction: column;
	padding: 25px;
	justify-content: center;
	align-items: center;
}

.input {
	padding: 15px;
	width: 80%;
	margin: auto;
	border: 1px solid lightgray;
	border-radius: 6px;
	font-size: 16px;
}

.input:focus {
	outline: none;
}
