@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body,
html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	min-height: 30vh;
}

.bg {
	background-image: url(./images/bg-images/default-image.jpg);
	height: 100vh;
}

.cloudy {
	background-image: url(./images/bg-images/full-cloudy.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.sunny {
	background-image: url(./images/bg-images/sunny.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.rainy {
	background-image: url(./images/bg-images/rainy.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.stormy {
	background-image: url(./images/bg-images/stormy.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.container {
	display: flex;
	flex-direction: column;
	padding: 25px;
	justify-content: center;
	align-items: center;
}

.input {
	padding: 15px;
	width: 80%;
	margin: auto;
	border: 1px solid lightgray;
	border-radius: 6px;
	font-size: 16px;
}

.input:focus {
	outline: none;
}
.weather-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 40vw;
	min-height: 20vh;
	background-color: aqua;
	margin-top: 5rem;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.2px);
	-webkit-backdrop-filter: blur(3.2px);
}
h1 {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
}
